<footer class="page-footer" style="background: #151826">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">AR-Craft was created by 5 interns over the course of 10 weeks.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Audio Files</h5>
          <ul>
            <li><a class="white-text" href="/audio/Instructions/AnchorWindow.mp3">Anchor Window</a></li>
            <li><a class="white-text" href="/audio/Instructions/LearningInstruction.mp3">Learing Instruction</a></li>
            <li><a class="white-text" href="/audio/Instructions/PostAnchorWindow.mp3">Post Anchor Window</a></li>
            <li><a class="white-text" href="/audio/Instructions/PostTest.mp3">Post Test</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Waveforms</h5>
          <ul>
            <li><a class="white-text" href="/imageFinals/AEDDInfo.png">Anchor Window</a></li>
            <li><a class="white-text" href="/imageFinals/AngleofAttackIndicatorInfo.png">Learing Instruction</a></li>
            <li><a class="white-text" href="/imageFinals/AudioConsoleInfo.png">Post Anchor Window</a></li>
            <li><a class="white-text" href="/imageFinals/BackupRadioInfo.png">Post Test</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a style="color: #D9C99A" href="http://materializecss.com">Smartnado</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>