    {{> header}}
    <body>
    <nav  role="navigation" style="background: #151826">
    <div class="container">
      
      <ul class="left hide-on-med-and-down">
        <li><a id="logo-container" href="/editor"><i class="material-icons">dashboard</i></a></li>
        
      </ul>
      
      <ul class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons">arrow_forward</i></a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>



    <div class="section no-pad-bot" id="index-banner" >
    <div class="container">
      <br><br>
      
      <div class="row center ">
          <h1>{{welcome}}</h1>
          <br><br>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <i class="material-icons large">airplanemode_active</i>
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light modal-trigger" href="#modal1" style="background: #D9C99A"><i class="material-icons">edit</i></a>
        </div>
        <div class="card-content">
          <p>Edit the descriptions and manual content for each part.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <i class="material-icons large">show_chart</i>
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light modal-trigger" href="#modal2" style="background: #D9C99A"><i class="material-icons">remove_red_eye</i></a>
        </div>
        <div class="card-content">
          <p>Visualize and access analytics.</p>
        </div>
      </div>
    </div>


  <!-- Modal Structure -->
  <form action="/editor" method="POST">
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Instruments</h4>
      
<ul class="form-style-1">
  <div class="input-field col s12">
    <li>
        <select name="instruments" id="instruments" onchange="return showHide()">
            <option value="start">--Select Instrument--</option>
            <option value="PCLInfo">PCL</option>
            <option value="AngleofAttackIndicatorInfo">Angle of Attack Indicator</option>
            <option value="DigitalAirspeedIndicatorInfo">Digital Airspeed Indicator</option>
            <option value="EADIInfo">EADI</option>
            <option value="DigitalAltitudeIndicatorInfo">Digital Altitude Indicator</option>
            <option value="NosewheelSteeringandSpeedBrakeindicatorsInfo">Nosewheel Steering and Speed Brake Indicators</option>
            <option value="ChronometerInfo">Chronometer</option>
            <option value="GeForceIndicatorInfo">G-Force Indicator</option>
            <option value="RadioSystemInfo">Radio System</option>
            <option value="EHSIInfo">EHSI</option>
            <option value="DigitalVerticalSpeedIndicatorInfo">Digital Vertical Speed Indicator</option>
            <option value="PEDDInfo">PEDD</option>
            <option value="FDUInfo">FDU</option>
            <option value="ESNDInfo">ESND</option>
            <option value="AudioConsoleInfo">Audio Console</option>
            <option value="StandbyAirspeedIndicatorInfo">Standby Airspeed Indicator</option>
            <option value="StandbyAltitudeIndictorInfo">Standby Altitude Indictor</option>
            <option value="StandbyAltimeterInfo">Standby Altimeter</option>
            <option value="StanbyTurnandSlipIndcatorInfo">Stand by Turn and Slip Indicator</option>
            <option value="CWSInfo">CWS</option>
            <option value="FlapIndicatorInfo">Flap Indicator</option>
            <option value="EFISInfo">EFIS</option>
            <option value="ParkingBrakeHandleInfo">Parking Brake Handle</option>
            <option value="BackupRadioInfo">Backup Radio</option>
            <option value="FlapLeverInfo">Flap Lever</option>
            <option value="OxygenInfo">Oxygen Console</option>
            <option value="PropulsionInfo">Propulsion Console</option>
            <option value="SystemTestInfo">System Test Console</option>
            <option value="TemperatureInfo">Temperature Console</option>
            <option value="GearIndicatorInfo">Gear Indicator and Gear Handle</option>
            <option value="LightingTrimInfo">Lighting and Trim Aid Console</option>
        </select>
    </li>
</div>

<div class="row">
      <div class="row">
        <div class="input-field col s12">
          <textarea type="text" name="textshort" id="textshort" class="materialize-textarea"></textarea>
          <label class="active" for="textshort">Summary</label>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="row">
        <div class="input-field col s12">
         <textarea  type="text" name="textdetail" id="textdetail" class="materialize-textarea"></textarea>
          <label class="active" for="textdetail">Full Description</label>
        </div>
      </div>
  </div>


</ul>

    </div>
    <div class="modal-footer">
      <button id="highlight" class="btn waves-effect" type="submit" value="Update">Update
    <i class="material-icons right">sync</i>
  </button>
    </div>

</form>

     
  </div>




  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Most Selected Instruments</h4>
      <div class="container">
        <div class="container">
        <canvas id="myChart" width="200" height="200"></canvas>
        </div>
      </div>
      


    </div>
    <div class="modal-footer">
      <a class="waves-effect btn-flat" href="./json" download="AR-Craft_user_data">DOWNLOAD<i class="material-icons right">file_download</i></a>
 
    </div>

     
  </div>
    
  </div>
  <br><br>
      <br><br>
  <div class="row center ">
      <h6>"Our goal with AR-Craft Academy is to make the training process both simple and intuitive for the student and the instructor."</h6>
  </div>
      <br><br>
      <br><br>
      <br><br>

    </div>
  </div>

{{> footer}}